# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
apps/web/.next/
apps/web/out/

# Env files
.env
.env.local
.env.*.local
.railway/

# Debug
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
